parameters:
	ignoreErrors:
		-
			message: '#^Trait Skylence\\LaravelCustomFields\\Filament\\Traits\\HasCustomFields is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Filament/Traits/HasCustomFields.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Http/Livewire/FieldActivityLog.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Http/Livewire/FieldCreate.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Http/Livewire/FieldEdit.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Http/Livewire/FieldIndex.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: src/Livewire/Forms/FieldForm.php

		-
			message: '#^Trait Skylence\\LaravelCustomFields\\Traits\\HasCustomFields is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Traits/HasCustomFields.php
